<div style="color:#336699;font-weight:bold;margin-top:25px;margin-bottom:25px"> CUSTOMER SATISFACTION QUESTIONNAIRE </div>
<strong>Date From &nbsp;</strong> 	: {$dateRange.StartDate} <br />
            <strong>Date To	&nbsp;&nbsp; &nbsp;&nbsp; </strong>	: {$dateRange.EndDate}
             
            <table cellpadding="0" cellspacing="0" style="border:1px solid #cccccc;margin-top:50px;width: 3200px;" >	
             <tr>
				<td style="border-left:1px solid #cccccc;border-right:1px solid #cccccc;background:#336699;color:#ffffff;height:25px" >Date Job Booked </td>
				<td style="border-right:1px solid #cccccc;background:#336699;color:#ffffff;">Date Survey Submitted</td>
				<td style="border-right:1px solid #cccccc;background:#336699;color:#ffffff;">Job Number</td>
				<td style="border-right:1px solid #cccccc;background:#336699;color:#ffffff;">Product </td>
				<td style="border-right:1px solid #cccccc;background:#336699;color:#ffffff;">Customer Name</td>
				<td style="border-right:1px solid #cccccc;background:#336699;color:#ffffff;">Service Reccomened By</td>
				<td style="border-right:1px solid #cccccc;background:#336699;color:#ffffff;">Brand Name </td>
				<td style="border-right:1px solid #cccccc;background:#336699;color:#ffffff;">Brand Score</td>
				<td style="border-right:1px solid #cccccc;background:#336699;color:#ffffff;">Manufacturer</td>
				<td style="border-right:1px solid #cccccc;background:#336699;color:#ffffff;"> Manufacturer Score</td>
				<td style="border-right:1px solid #cccccc;background:#336699;color:#ffffff;">Service Agent</td>
				<td style="border-right:1px solid #cccccc;background:#336699;color:#ffffff;">Service Agent Score</td>
				<td style="border-right:1px solid #cccccc;background:#336699;color:#ffffff;">Additional Question 1</td>
				<td style="border-right:1px solid #cccccc;background:#336699;color:#ffffff;">Add Score 1</td>
				<td style="border-right:1px solid #cccccc;background:#336699;color:#ffffff;">Additional Question 2</td>
				<td style="border-right:1px solid #cccccc;background:#336699;color:#ffffff;"> Add Score 2</td>
				<td style="border-right:1px solid #cccccc;background:#336699;color:#ffffff;">Additional Question 3</td>
				<td style="border-right:1px solid #cccccc;background:#336699;color:#ffffff;">Add Score 3	</td>
				<td style="border-right:1px solid #cccccc;background:#336699;color:#ffffff;">Additional Question 4 </td>
				<td style="border-right:1px solid #cccccc;background:#336699;color:#ffffff;">Add Score 4</td>
				<td style="border-right:1px solid #cccccc;background:#336699;color:#ffffff;">Additional Question 5</td>
				<td style="border-right:1px solid #cccccc;background:#336699;color:#ffffff;"> Add Score 5</td>				
			 </tr>   
                         
                       
                          {foreach $reportData as $rep}
                                <tr>
                                <td style="border-left:1px solid #cccccc;border-right:1px solid #cccccc">{$rep.DateBooked}</td>
				<td style="border-right:1px solid #cccccc">{$rep.SurveyDate}</td>
				<td style="border-right:1px solid #cccccc">{$rep.JobID}</td>
				<td style="border-right:1px solid #cccccc">{$rep.Product} </td>
				<td style="border-right:1px solid #cccccc">{$rep.CustomerName}</td>
				<td style="border-right:1px solid #cccccc">{$rep.ServiceRecomandBy}</td>
				<td style="border-right:1px solid #cccccc">{$rep.BrandName}</td>
				<td style="border-right:1px solid #cccccc">{$rep.BrandScore}</td>
				<td style="border-right:1px solid #cccccc">{$rep.ManufactureName}</td>
				<td style="border-right:1px solid #cccccc"> {$rep.ManfactureScore}</td>
				<td style="border-right:1px solid #cccccc">{$rep.ServiceAgent}</td>
				<td style="border-right:1px solid #cccccc">{$rep.ServiceAgentScore}</td>
				<td style="border-right:1px solid #cccccc">{$rep.AddlQuesOne}</td>
				<td style="border-right:1px solid #cccccc">{$rep.AddlQuesOneScore}</td>
				<td style="border-right:1px solid #cccccc">{$rep.AddlQuesTwo}</td>
				<td style="border-right:1px solid #cccccc"> {$rep.AddlQuesTwoScore}</td>
				<td style="border-right:1px solid #cccccc">{$rep.AddlQuesThree}</td>
				<td style="border-right:1px solid #cccccc">{$rep.AddlQuesThreeScore}</td>
				<td style="border-right:1px solid #cccccc">{$rep.AddlQuesFour}</td>
				<td style="border-right:1px solid #cccccc">{$rep.AddlQuesFourScore}</td>
				<td style="border-right:1px solid #cccccc">{$rep.AddlQuesFive}</td>
				<td style="border-right:1px solid #cccccc">{$rep.AddlQuesFiveScore}</td>		
                                </tr>    
                          {foreachelse}
                                <tr>
                                <td align="center" colspan="22" style="border-left:1px solid #cccccc;border-right:1px solid #cccccc" > No Records Found..</td>    
                                </tr>
                                    
                          {/foreach}
        </table>